.markdown-light {
  word-break: break-all;
  font-size: 1.15rem;
  margin: 0.8em;
}

.markdown-light table {
  background-color: ghostwhite;
  border-collapse: collapse;
}

.markdown-light th, .markdown-light td {
  border-top: 0.15em solid lightsteelblue;
  padding: 0.5em;
}
